name: personal_portfolio
description: "Jr Flutter developer Ahmed Ghaly's portfolio website"
publish_to: 'none'
version: 0.1.8

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  # State management
  flutter_bloc: ^8.1.6
  # An SVG rendering and widget library for Flutter, which allows painting
  flutter_svg: ^2.0.10+1
  # A flutter plugin for adapting screen and font size.Guaranteed to look good on different models
  flutter_screenutil: ^5.9.3
  # For beautiful animations
  animate_do: ^3.3.4
  # For launching a URL
  url_launcher: ^6.3.0
  # To save files on any platform
  file_saver: ^0.2.14
  # To display progress widgets based on percentage
  percent_indicator: ^4.2.3
  # To add staggered animations to your ListView, GridView
  flutter_staggered_animations: ^1.1.1
  # Detects the visibility of its child and notifies a callback
  visibility_detector: ^0.4.0+2
  # Flutter integration for Supabase
  supabase_flutter: ^2.8.4
  # Easily configure global variables using .env
  flutter_dotenv: ^5.2.1
  # Automatically generate code for converting to and from JSON by annotating Dart classes.
  json_annotation: ^4.9.0
  # Renders After Effects animations natively on Flutter
  lottie: ^3.3.1
  # Caches images
  cached_network_image: ^3.4.1

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter

  launcher_name: ^1.0.2
  icons_launcher: ^3.0.0
  # Automatically generate code for converting to and from JSON by annotating Dart classes.
  json_serializable: ^6.9.5
  # A build system for Dart code generation and modular compilation.
  build_runner: ^2.4.14

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
    - assets/svgs/
    - assets/lottie/
    - assets/cv/
    - .env

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter/Inter_24pt-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter/Inter_24pt-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter/Inter_24pt-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter/Inter_24pt-Bold.ttf
          weight: 700


flutter_assets:
  assets_path: assets/
  output_path: lib/src/core/utils/
  filename: app_assets.dart
  field_prefix: null


launcher_name:
  default: "Ahmed Ghaly"
