name: personal_portfolio
description: "Jaspr-powered personal portfolio website"
publish_to: 'none'
version: 0.2.0

environment:
  sdk: ^3.5.1

dependencies:
  jaspr: ^0.16.0
  supabase: ^2.9.0

dev_dependencies:
  lints: ^5.1.1
